@import "tailwindcss";

@theme {
  /* Slide in from right */
  --animate-slide-in-right: slide-in-right 0.2s ease-out forwards;
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Slide out to left */
  --animate-slide-out-right: slide-out-left 0.2s ease-in forwards;
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

/* Your existing rules */
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
